/* Page Structure */
.pageWrapper {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.innerPage {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.panel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.panel__container {
    width: 100%;
    max-width: 700px;
    padding: 20px 0;

    &--about {
        p {
            padding: 30px 0;
        }
        button {
            margin-bottom: 130px
        }
    }
    &--skills {
        .flex-cards {
            margin-top: -50px;
        }
        ul {
            margin-bottom: 25px;
        }
    }
}

.pageTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}


/* excess structure */
/* Grid/Grid Images Styles */
.grid {
    position: relative;
    display: block;
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

.grid .thumb {
    display: none;
}

.grid #arrow {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size:18px;
}

.grid.skills:nth-of-type(3) > img {
    max-width: 90px;
    margin-right: 20px;
}

.cube {
    position: relative;
    display: block;
    max-width: 500px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    float: left;
}

.cube p {
    background-color: rgba(51,51,51,0.60);
    bottom: 0;
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 100%;
    color: #fff;
    position: absolute;
    display: block;
    min-height: 70px;
    font-size: 1.1em;
}

.cube .logo {
    max-width: 300px;
    width: 75%;
    padding: 20px;
}

.cube .logo:hover {
    transform: scale(1.2,1.2);
    transition: ease-in-out 2s;
}

.logo {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.blank {
    display: none;
}

.text {
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    padding: 40px 20px;
    text-align: left;
}

.image {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}


@media screen and (min-width:500px) {
    .cube {
        width: 50%;
    }

    .cube .logo {
        width: 75%;
        padding: 30px 20px 0;
    }
    
    footer {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 40px 20px;
        background: #ccc;
    }


}

@media screen and (min-width:600px) {
    footer .social-icons,footer .copyright {
        display: inline-block;
    }

    footer .social-icons {
        float: left;
    }

    footer .copyright {
        float: right;
        margin-top:30px;
    }

    footer .copyright p,footer .copyright h6 {
        text-align: right;
    }
}

@media screen and (min-width:670px) {
    .cube .logo {
        width: 70%;
        padding: 30px 20px 0;
    }
}

@media screen and (min-width:768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        box-shadow: none;
        margin-top:5px;
    }   
}

@media screen and (min-width:900px) {
    .grid .thumb {
        display: inline-block;
        position: relative;
        max-width: 300px;
        max-height: 225px;
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .cube {
        width: 33.3%;
    }

    .cube .logo {
        width: 90%;
    }

    .blank {
        display: inline-block;
    }
}

@media screen and (min-width:1100px) {
    .cube .logo {
        width: 80%;
    }
}