/* Navigation */
.navbar {
    margin-bottom: 0;
    border: none;
	height:65px;
}

.navbar-static-top {
    border: none;
}

.navbar-nav {
    float: none !important;
    display: flex;
    justify-content: center;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
}

.navbar-default {
    background-color: $white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color:  $white;
    color: $coral;
    border-bottom: 1px solid $coral;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    background-color:  $white;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}