/* Background Color Styles */
.whiteBkgd {
    background-color: $whiteBkgd;
}

.blackBkgd {
    background-color: $blackBkgd;
}

.orangeBkgd {
    background-color: #ff7f50;
}

.greenBkgd {
    background-color: #6dc066;
}

.blueBkgd {
    background-color: $blue;
}

.coralBkgd {
    background-color: #ff7373;
}

.dark-greyBkgd {
    background-color: $dark-gray;
}

.middle-greyBkgd {
    background-color: $mid-gray;
}

.light-greyBkgd {
    background-color: $light-gray;
}

/* Color Styles */
.white {
    color: #fff;
}

.orange {
    color: #ff7f50;
}

.green {
    color: #6dc066;
}

.blue {
    color: #39f;
}

.coral {
    color: #ff7373;
}

.dark-grey {
    color: #404040;
}

.middle-grey {
    color: silver;
}

.light-grey {
    color: #eee;
}
